 
@model IEnumerable<Product>
@{
    ViewBag.Title = "Product Manager";
}
    <div class="container">
        <div class="pt-3"><h2>Product Manager</h2></div>
    </div>

    <table class="table table-striped table-bordered" style="border">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Release Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product good in Model)
            {
                <tr>
                    <td>@good.Code</td>
                    <td>@good.Name</td>
                    <td>$@good.Price</td>
                    <td>@good.Release_Date</td>
                    <td class="text-center"><a class="btn btn-warning " asp-controller="Product" asp-action="Edit" asp-route-id="@good.Id" name="Edit"> Edit</a></td>
                    <td class="text-center"><a class="btn btn-danger " asp-controller="Product" asp-action="Delete" asp-route-id="@good.Id"  name="Delete">Delete</a></td>
                </tr>
            }
        </tbody>
        
    </table>
    <div>
    <a class="btn btn-primary" type="submit" asp-controller="Product" asp-action="GotoAdd" name="Add Product">Add Product</a>
    </div>
